
body {
    font-family: 'Open Sans', sans-serif;
    width: 960px;
}
h1 h2 h3 h4 {
    font-family: 'Roboto', sans-serif;
}
h1 {
  text-align:center;
}
h2 {
  text-align:center;
}
h3 {
  text-align:center;
}
h4 {
  text-align:center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #df7a1c;
  }
  li {
    float:left;
    padding:6px;
  }
  li a {
    display: block;
    color: white;
    font-weight:bolder;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  li a:hover {
    background-color: ghostwhite;
  }
  li a:visited {
    background-color:brown;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .container {
    border-radius: 5px;
    background-color: #df7a1c;
    color: white;
    padding: 20px;
  }
  .header img {
    Float:left;
    width: 200px;
    padding: 20px;
  }
.center {
  text-align:center;
  line-height: 1pt;
  font-weight: bolder;
}    
 .tickets {
  text-decoration:none;
  font-weight: bolder;
  border:1px solid black;
  margin: 30px;
  padding: 5px 15px 5px 15px;
  border-radius:5px;
  background-color: #df7a1c;
  color: white;
 } 
.left {
  float: left;
  padding: 0px 20px 20px 0px;
}